---
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: prometheus-rules
  namespace: {{ demo_namespace }}
  labels:
    app: prometheus
    role: alert-rules
spec:
  groups:
  - name: ./prometheus.rules
    rules:
    - alert: EndpointDown
      expr: probe_success == 0
      for: 10s
      labels:
        severity: "critical"
      annotations:
        repository: "{{ repository }}"
{% raw %}
        summary: "Endpoint {{ $labels.instance }} down"
{% endraw %}
